<div class="row mt-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="mb-0 text-center">Capacitaciones Creadas</h2>
          </div>
          <!-- BOTON
          <div class="col text-right">
            <a href="#!" class="btn btn-sm btn-primary">Ver</a>
          </div>
           -->
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->




        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Módulo</th>
              <th scope="col">Sesiones</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Venta en Redes Sociales
              </th>
              <td>
                4
              </td>
              <td>
                20
              </td>
              <td>
                <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
              </td>
            </tr>

          </tbody>
        </table>



      </div>
    </div>
  </div>
