<div class="row mt-5">
  <div class="col-xl-8 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Módulos Creados</h3>
          </div>
          <!-- BOTON
          <div class="col text-right">
            <a href="#!" class="btn btn-sm btn-primary">Ver</a>
          </div>
           -->
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Bancos</th>
              <th scope="col">Usuarios</th>
              <th scope="col">Progreso</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Venta en Redes Sociales
              </th>
              <td>
                4
              </td>
              <td>
                20
              </td>
              <td>
                <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ejem
              </th>
              <td>
                3
              </td>
              <td>
                31
              </td>
              <td>
                <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ejem
              </th>
              <td>
                3
              </td>
              <td>
                29
              </td>
              <td>
                <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ejem
              </th>
              <td>
                2,050
              </td>
              <td>
                147
              </td>
              <td>
                <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
              </td>
            </tr>
            <tr>
              <th scope="row">
                Ejem
              </th>
              <td>
                1,795
              </td>
              <td>
                190
              </td>
              <td>
                <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
