<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats   -->
      <!--
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Módulos Creados</h5>
                  <span class="h2 font-weight-bold mb-0">1</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 100%</span>
                <span class="text-nowrap">Esta semana</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Usuarios Registrados</h5>
                  <span class="h2 font-weight-bold mb-0">100</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 100%</span>
                <span class="text-nowrap">Esta semana</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Seciones Creadas</h5>
                  <span class="h2 font-weight-bold mb-0">3</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                 text-warning para poner la flecha en red y sustituir el UP por el Down para bajar la flecha
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 100%</span>
                <span class="text-nowrap">Esta Semana</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Desarrollo del Sistema</h5>
                  <span class="h2 font-weight-bold mb-0">39,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Esta Semana</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.adra.org.pe/sites/default/files/PORTADA%20PMF%20FB.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.adra.org.pe/sites/default/files/inline-images/CASAS%20ABRIGADORAS%20II_0.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.adra.org.pe/sites/default/files/inline-images/MA%CC%81S%20PROTECCIO%CC%81N%2C%20MENOS%20COVID.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-uppercase text-muted ls-1 mb-1">Hola Lucía</h2>

            </div>
            <tbody>
              <tr>
                <th scope="row">
                  Desarrollo módulo 1-Lamas
                </th>
              </tr>
          </div>

        </div>
        <div class="card-body">
          <div class="col" *ngFor="let seminario of seminario;"></div>
             <tbody>
               <tr>
                <th scope="row">
                Eventos Disponibles
                  </th>
                  <td>

                  No tiene eventos Disponibles
                  </td>
            </tr>
          </div>
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>






    <div class="col-xl-12 mt-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="text-uppercase text-muted ls-1 mb-1">Tema Semanal</h3>
              <h2 class="mb-0">Salvados por su Gracia</h2>
            </div>
          </div>
        </div>


        <div class="card-body">
          <!-- Chart -->
          <h6 class="text-uppercase text-muted ls-1 mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam adipisci saepe temporibus? Necessitatibus optio expedita cum velit a eligendi fugiat sed obcaecati repudiandae. Hic minus nostrum asperiores iure exercitationem temporibus!</h6>

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Banco Lamas</h3>
            </div>
            <!-- BOTON
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ver</a>
            </div>
             -->
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sesión</th>
                <th scope="col">Bancos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Introducción al Módulo
                </th>
                <td>
                  Lamas
                </td>
                <td>
                  Lucía
                </td>
                <td>
                  <i ></i> 09/12/2021
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Manejo de Facebook
                </th>
                <td>
                  Lamas
                </td>
                <td>
                  Lucía
                </td>
                <td>
                  <i ></i> 10/12/2021
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Marketing Digital
                </th>
                <td>
                  Lamas-Tarapoto
                </td>
                <td>
                  Lucía
                </td>
                <td>
                  <i></i>11/12/2021
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>





    <div class="col-xl-4 mt-5">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Archivos para descargar</h3>
            </div>
               <!--
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ver</a>
            </div>
            -->
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Formato</th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  PDF
                </th>
                <td>
                  Manejo de Facebook
                </td>
                <td>
                  <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Descargar</a>
                  </div>
                  <!--  PROGRESO
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                   -->
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <iframe width="1080" height="634" src="https://www.youtube.com/embed/AB1nLxlalA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>

      <div class="col-xl-4 mt-5">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">índice del video</h3>
              </div>
                 <!--
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">Ver</a>
              </div>
              -->
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Minuto</th>
                  <th scope="col">Tema</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    01-5
                  </th>
                  <td>
                    Meditación
                  </td>
                  <td>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Ver</a>
                    </div>
                    <!--  PROGRESO
                    <div class="d-flex align-items-center">
                      <span class="mr-2">60%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                     -->
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    05-10
                  </th>
                  <td>
                    Bienvenida
                  </td>
                  <td>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Ver</a>
                    </div>
                </tr>
                <tr>
                  <th scope="row">
                    10-15
                  </th>
                  <td>
                    Pasos Básicos
                  </td>
                  <td>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Ver</a>
                    </div>
                </tr>
                <tr>
                  <th scope="row">
                    15-25
                  </th>
                  <td>
                    Crear una cuenta en Facebook
                  </td>
                  <td>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Ver</a>
                    </div>
                </tr>
                <tr>
                  <th scope="row">
                    25-35
                  </th>
                  <td>
                    Mi Primera publicación
                  </td>
                  <td>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Ver</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


